<div class="colorbox" style="background-color:{{this.hex}};color:{{this.contrastColor}}">
    <ul class="colorbox__info">
        <li class="colorbox__label">{{this.name}}</li>
        <li class="colorbox__label">{{this.hex}}</li>
        <li class="colorbox__label">{{this.tiers}}</li>
    </ul>
</div>